server:
  port: 8083

spring:
  application:
    name: fare-promo-service
  datasource:
    url: jdbc:mysql://localhost:3306/taxi_system
    username: root
    password: "#Mrc25031967"
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always # Shows DB status, disk space, etc.

# Eureka Client Configuration
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/ # Check this URL carefully!
  instance:
    prefer-ip-address: true
    hostname: localhost
